.month{
    background-color:#3FB8AF;
    width:50px;
    text-align:center;
    color:#fff;
    margin-bottom:1px;
}
.date{
    background-color:#EDC951;
    width:50px;
    text-align:center;
    color:#fff;
}
.postdate{
    float:left;
}
.title{
    float: left;
    margin-left:5px;
}
.entry{
    clear:both;
    padding-top:20px;
    padding-bottom:3px;
    border-bottom:1px dashed #c5c4c4;
    margin-bottom:10px;
}
.postmeta_author{
    background:url(../images/lanmbq.png) no-repeat left center;
    padding-left: 20px;
    margin: 0 10px 0 0;
}
.postmeta_category{
    background:url(../images/newsbg01.png) no-repeat left center;
    padding-left: 20px;
    margin: 0 10px 0 0;
}
.postmeta_time{
    background:url(../images/newsbg02.png) no-repeat left center;
    padding-left: 20px;
    margin: 0 10px 0 0;
}
.tags{
    background:url(../images/newsbg01.png) no-repeat left center;
    padding-left: 20px;
}
.info{
    margin-top:10px;
    border-bottom:1px solid #c5c4c4;
    padding-bottom:5px;
}
#commentform{
    margin-top:10px;
    padding-top:20px;
}
.commentlist{
    margin-top:10px;
}
.avatar{
    width:30px;
    height:30px;
    float:right;
}
#comment-59542{
    border-bottom:1px solid #c5c4c4;
    padding-bottom:20px;
    padding-top:10px;
    padding-left:40px;
}
#comment-59418{
    padding-top:10px;
    padding-left:10px;
    border-bottom:1px solid #c5c4c4;
    padding-bottom:20px;
}
ol li{
    list-style:none;
}
.login_info{
    margin-left:10px;
}
form input{
    margin-left:12px;
    margin-top:5px;
}
form textarea{
    margin-left:12px;
    margin-top:5px;
}
input[type="submit"]{
    width:80px;
    height:20px;
    cursor:pointer;
    border:0px;
    border-radius: 4px;
}
input[type="submit"]:hover{
    width:80px;
    height:20px;
    background:#000;
    color:#fff;
    cursor:pointer;
    border:0px;
    border-radius: 4px;
}
.commentstitle{
    padding-top:10px;
}
#comments{
    font-size:17px;
}
#respond{
    padding-bottom:5px;
    font-size:17px;
}
.commentsnumber{
    color:orange;
}
.top a{
    color:#0081f1;
}