{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Title</title>
    <link href="{% static 'css/reg.css' %}" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>Create a Free Account!</h1>
        </div>
        <p></p>
        <form action="{% url 'do_reg' %}" method="post">
            {% csrf_token %}
            <ul class="left-form">
                <h2>New Account:</h2>
                <li>
                    {{ reg_form.username }}
                    <div class="clear"></div>
                </li>
                <li>
                    {{ reg_form.email }}
                    <div class="clear"></div>
                </li>
                <li>
                    {{ reg_form.url }}
                    <div class="clear"></div>
                </li>
                <li>
                    {{ reg_form.password }}
                    <div class="clear"></div>
                </li>
                <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}" />
                <input type="submit" value="Create And Login" />
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </form>
    </div>
</body>
</html>